<div id="thanks" class="modal">
  <div class="container">
    <div class="modal__block_wrapper modal__thanks_wrapper">
      <div class="modal__block">
        <div class="thanks_close modal_close">
          {{mixins.icon('cancel')}}
        </div>
        <div class="modal__thanks">
          <h3>Спасибо за заказ</h3>
          <p>Скоро мы Вам перезвоним!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modal_flag" class="modal-flag">
  <div class="container">
    <div class="modal__block_wrapper">
      <div class="modal__block modal__block_form modal__block_flag">
          <div class="form-information">
              <img src="img/flag-1.jpg" alt="" class="js-data-bg-image">
              <div class="form-information__info">
                <div class="form-information__info_block counry">
                  <h4>
                    Страна

                  </h4>
                  <p class="js-data-country">
                    Швеция
                  </p>
                </div>
                <div class="form-information__info_block time">
                  <h4>
                    Срок

                  </h4>
                  <p>
                    <span class="js-data-time">10</span> РД
                  </p>
                </div>
                <div class="form-information__info_block price">
                  <h4>
                    Стоимость


                  </h4>
                  <p class="js-data-price">
                    2500
                  </p>
                </div>
                <div class="form-information__info_block more">
                  <h4>
                    Дополнение


                  </h4>
                  <p class="js-data-more-inform">
                    Консульский +
                    сервисный сбор
                  </p>
                </div>
              </div>
          </div>
          <div class="form-block form-block__flag">
            <div class="modal_close modal_flag_close">
              {{mixins.icon('cancel')}}
            </div>
            <h3>
              Оставьте заявку
            </h3>
            <p>
              наши специалисты проконсультируют
              Вас уже через 2 минуты
            </p>
            <form action="sendmail.php" class="form form-block__callback">
              <input type="hidden" name="formName" value="Оформить заявку" required>
              <input type="hidden" name="country" value="" required>
              <label class="form-block__label">
                <input type="text" name="name" placeholder="Ваше имя:" required>
              </label>
              <label class="form-block__label">
                <input type="tel" name="tel" placeholder="Ваш телефон:" required>
              </label>
              <button class="button">
                Получить консультацию
              </button>
              <div class="form-block__checkbox_wrapper">
                <div class="form-block__checkbox">
                  <input type="checkbox" value="agree" id="agreeThree" name="agree" class="checkbox" checked required>
                  <label for="agreeThree" class="label__checkbox">
                    Нажимая кнопку, вы даете согласие на
                    обработку персональных данных
                  </label>
                </div>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
<div id="modal" class="modal">
  <div class="container">
    <div class="modal__block_wrapper">
      <div class="modal__block modal__block_form">
        <div class="form-block">
          <div class="modal_close">
            {{mixins.icon('cancel')}}
          </div>
          <h3>
            ПОЛУЧИТЕ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ!
          </h3>
          <p>
            Оставьте свои контактные данные, что бы мы могли связаться с вами
          </p>
          <form action="sendmail.php" class="form form-block__callback">
            <input type="hidden" name="formName" value="Обратной связи" required>
            <label class="form-block__label">
              <input type="text" name="name" placeholder="Ваше имя:" required>
            </label>
            <label class="form-block__label">
              <input type="tel" name="tel" placeholder="Ваш телефон:" required>
            </label>
            <button class="button">
              Получить консультацию
            </button>
            <div class="form-block__checkbox_wrapper">
              <div class="form-block__checkbox">
                <input type="checkbox" value="agree" id="agreeTwo" name="agree" class="checkbox" checked required>
                <label for="agreeTwo" class="label__checkbox">
                  Нажимая кнопку, вы даете согласие на
                  обработку персональных данных
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
