.icon-apron {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-baseball-cap {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-briefing {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-businessman {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cancel {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-child {
  width: 0.89em;
  height: 1em;
  fill: initial;
}
.icon-document {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-fashion {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fast {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-handbag {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-hoodie {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-jacket {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-money {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-money1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-new {
  width: 0.74em;
  height: 1em;
  fill: initial;
}
.icon-old {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-polo-shirt {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-reception {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-scarf {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-shirt {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-t-shirt {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-viber {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-waistcoat {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-whatsapp {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-work-2 {
  width: 0.67em;
  height: 1em;
  fill: initial;
}
.icon-work-3 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-work-4 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-work-5 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-work-6 {
  width: 1em;
  height: 1em;
  fill: initial;
}
